*{
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
}
.bz{  max-width:145rem;
   width: 90%;
}
  

.container{
    width: 120rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
}
.main{
    width: 145rem;
    height: 600vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
}
.c1{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.hh{
    font-size: 1.5rem;
    text-decoration: none;
    background-color: blue;
    color:white;
    padding:5px 10px;
    border-radius: 5px;

}
.ha{
     font-size: 1.5rem;
    text-decoration: none;
    background-color:white;
    color:black;
    padding:5px 15px;
    border: 1px solid black;
     border-radius: 5px;

}
.hh:hover{
    background-color: orange;
   box-shadow: 0px 1px 3px 2px darkslategray;
}
.hh:active{
    background-color: orange;
     box-shadow: 0px 1px 3px 2px darkslategray;
}
.ha:hover{
    background-color: orange;
     box-shadow: 0px 1px 3px 2px darkslategray;
}
.ha:active{
    background-color: orange;
     box-shadow: 0px 1px 3px 2px darkslategray;
}


.dd{
  margin-top: 16rem;
   display: flex;
   flex-direction: column;
   gap:3rem ;
   align-items: center;
}
.he{
    font-size: 6rem;
    font-weight: 700;
   
   text-transform: uppercase;
   letter-spacing: -2px;
}
.hr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gg{
    display: flex;
    align-items: center;
    width: 50rem;
  
}


.pa{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
}
.x{
    display: flex;
    gap: 2rem;
}
.f{
    margin-top: 40rem;
}
.df{
    color: white;
    background-color: rgb(86, 86, 189);
    border-radius: 10px;
    padding: 5px 10px;

}
.b{
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;

}
.cc{
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
.db{
    width: 100px;
}
.gl{
    width: 80rem;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 200px 200px 200px;
   margin-top: 10rem;
    gap: 3rem;
    align-items: center;
    justify-items: center;
}
.dc{
    font-size: 1.5rem;
}
.vc{
    margin-top: 40rem;
}
.cv{
    font-size: 2.5rem;
    background-color: blue;
    padding: 15rem 25rem;
    color: white;
    text-decoration: none;
    border-radius: 3rem;
}
.nb{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30rem;
    gap: 2rem;
}
.vv{
    display: flex;
   justify-content: center;
   gap: 1rem;
}
.ba{
    font-size: 2rem;
    text-decoration: none;
}
.oo{
font-size: 4rem;
text-transform: capitalize;

}
.op{
font-size: 2rem;
text-transform: capitalize;

}
.cv:hover{
     background-color: orange;
   box-shadow: 0px 1px 3px 2px darkslategray;

}
.cv:active{
     background-color: orange;
   box-shadow: 0px 1px 3px 2px darkslategray;

}
