@media(max-width:31.25rem){
    html{
        font-size: 31.25%;
    }
    .bz{
        max-width: 31.25%;
        width: 90%;
    }
    .container{
        width: 31.25%;
        height: 31.25%;
    }
    .main{
        width: 31.25%;
        height: 31.25%;
    }
    .c1{
        gap: 31.25%;
    }
    .dd{
        margin-top: 31.25%;
        gap: 31.25%;
    }
    .gg{
        width: 31.25%;
    }
    .f{
        margin-top: 31.25%;
    }
    .cc{
        width: 31.25%;
        height: 31.25%;
    }
    .gl{
        margin-top: 31.25%;
        width: 31.25%;
        grid-template-columns: 31.25% 31.25%;
        grid-template-rows: 31.25% 31.25% 31.25%;
        gap: 31.25%;
    }
    .vc{
        margin-top: 31.25%;
    }
    .nb{
        margin-top: 12rem;
    }
    .db{
        width: 31.25%;
    }

}