@media(max-width:31.25rem){
    html{
        font-size: 31.25%;
    }
    
    .dd{
        margin-top: 12rem;
    }
    .f{
        margin-top: 12rem;
    }
    .gl{
        margin-top:2rem;
        grid-template-columns: 400px;
        row-gap: 2rem;
    }
    .vc{
        margin-top: 25rem;
    }
    .nb{
        margin-top: 22rem;

    }
   
   
}