@media(max-width:31.25rem){
    html{
        font-size: 31.25%;
    }
    
    .dd{
        margin-top: 6rem;
    }
    .f{
        margin-top: 12rem;
    }
    .gl{
        margin-top: 6rem;
        grid-template-columns: 400px;
        gap: 1rem;
    }
    .vc{
        margin-top: 16rem;
    }
    .nb{
        margin-top: 13rem;

    }
   
}